*{
    margin:0px;
    padding:0px;
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.main_box{
    background: url("photo.jpg");
    height: 100vh;
    background-size: cover;   
}
.btn_one {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
   
}
.sidebar_menu .btn_two i{
    color:grey;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    left: 275px;
    line-height: 60px;
    opacity:0;
    cursor:pointer;
     transition:all 0.3s linear ;
}
.sidebar_menu{
    position:fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255 , 255 , 255 , 0.1);
    box-shadow: 0 0 6px rgba(255 , 255 , 255 , 0.5);
    transition:all 0.3s linear ;

}
.sidebar_menu .logo{
    height: 60px;
    position:absolute;
    width:100%;
    line-height: 60px;
     box-shadow: 0 2px 4px rgba(255 , 255 , 255 , 0.5);
}
.sidebar_menu .logo a{
    position: absolute;
    left:50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

 .sidebar_menu .menu{
    position: absolute;
    color:white;
    width:100%;
    top:80px

}
.sidebar_menu .menu li{
    margin-top:6px;
    padding: 14px 20px;
    

}
.sidebar_menu .menu i ,a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .social_media{
    color:rgba(255 , 255 , 255 , 0.5);
    opacity: 0.5; 
     position:absolute;
    bottom: 20px;
    padding: 14px 20px;
    margin-bottom: 6px;
}
 
.sidebar_menu .menu i{
    padding-right:8px;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 6px rgba(255 , 255 , 255 , 0.5);;
}
.sidebar_menu .btn_one i:hover{
    transition:all 0.3s linear ;
    font-size:40px ;
}
.sidebar_menu .btn_two i:hover{
    font-size:35px ;
    
}

#check:checked ~ .sidebar_menu{ 
    left:0;
}

.sidebar_menu .social_media:hover{   
    opacity: 1;
    font-size: 15px;
    transform:scale(1.1);
}
#check:checked ~ .btn_one i{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}

#check{
    display: none;
}
@media(max-width:600px){
   .main_box{
    background-size:contain;
   
   }
}
.sidebar_menu {
  transition: transform 0.4s ease;
}
